### Combining stripped peptides from *de novo* sequencing and PeaksDB search results Trocas 7 incubation samples

The dataset:

    16 treatments: 4 stations, 2 timepoints (Time 0 an Time 24 hrs), 2 size fractions (GFF; GF75):
    
    Stations: 
    
        - Macapa South (MS) South stem, upriver
        - Macapa North (MN) North stem, upriver
        - Chaves (CV) South stem, downriver
        - Baylique (BY) North stem, downriver


    Proteomics samples from 2 trips to UWPR (July 2020 on the QE; April 2021 on the Fusion)
    There were at least triplicate samples for each treatment
    Many in April 2021 injected twice

Starting with:

    Peaks de novo results of PTM-optimized sequencing
    PeaksDB de novo-assisted results from PTM-optimized database searches
    
    Multiple samples per treatment

Goal:

    Txt files with combined de novo and PeaksDB for each sample
    
Using:

    - pandas
    - matplotlib
    - numpy

In [1]:
# LIBRARIES
#import pandas library for working with tabular data
import os
os.getcwd()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kde
#import regular expresson (regex)
import re
#check pandas version
pd.__version__

'1.0.5'

In [2]:
cd /home/millieginty/Documents/git-repos/amazon/data/Trocas7-incubations/

/home/millieginty/Documents/git-repos/amazon/data/Trocas7-incubations

### 1. Macapa North, timepoint 0, size fraction 0.3-0.7 um (denoted as MN_T00_GF)
### T7 samples #s: 121, 126
### Exported NAAF and stripped peptides contained in the following directories:

    Trocas-incubations/processed/PeaksDB/126_MN_T00_GF_PDB
    Trocas-incubations/processed/PeaksDB/126_MN_T00_GF_DN

In [8]:
# for each of the 4 incubation samples:
# read in NAAF totals csvs made in PeaksDN (de novo), and PeaksDB (de novo assisted database search) notebooks
# bringing de novo peptides >50% ALC and PeaksDB peptides <1% FDR

peaks50_126a = pd.read_csv("processed/PeaksDN/126_MN_T00_GF_DN/126_MN_T00_GF_DN50_stripped_peptides.txt", header=None)
peaks50_126b = pd.read_csv("processed/PeaksDN/126_MN_T00_GF_DN/126B_MN_T00_GF_DN50_stripped_peptides.txt", header=None)
peaksdb_126a = pd.read_csv("processed/PeaksDB/126_MN_T00_GF_PDB/126_MN_T00_GF_PDB_stripped_peptides.txt", header=None)
peaksdb_126b = pd.read_csv("processed/PeaksDB/126_MN_T00_GF_PDB/126B_MN_T00_GF_PDB_stripped_peptides.txt", header=None)


frames = [peaks50_126a, peaks50_126b, peaksdb_126a, peaksdb_126b]
#index = [index]

# concatenate dataframes
tot_126 = pd.concat(frames)

# deduplicate
tot_126_nr = tot_126.drop_duplicates()

print('total 210 peptides, redundant', len(tot_126))
print('total 210 peptides, nonredundant', len(tot_126_nr))

tot_126.to_csv("processed/stripped_peptides/126_MN_T00_GF_stripped_peptides.txt", header=False, index=False)

tot_126.head()

total 210 peptides, redundant 517
total 210 peptides, nonredundant 333

               0
0  VLEGNEQFLNAAK
1     LSSPATLNSR
2     LSSPATLNSR
3     LSSPATLNSR
4     LSSPATLDSR

### 2. Macapa North, timepoint 0, size fraction>0.7 um (denoted as MN_T00_GD)
### T7 samples #s: 221, 226
### Exported NAAF and stripped peptides contained in the following directories:

    Trocas-incubations/processed/PeaksDB/226_MN_T00_GD_PDB
    Trocas-incubations/processed/PeaksDB/226_MN_T00_GD_DN

In [10]:
# for each of the 4 incubation samples:
# read in NAAF totals csvs made in PeaksDN (de novo), and PeaksDB (de novo assisted database search) notebooks
# bringing de novo peptides >50% ALC and PeaksDB peptides <1% FDR

peaks50_226a = pd.read_csv("processed/PeaksDN/226_MN_T00_GD_DN/226_MN_T00_GD_DN50_stripped_peptides.txt", header=None)
peaks50_226b = pd.read_csv("processed/PeaksDN/226_MN_T00_GD_DN/226B_MN_T00_GD_DN50_stripped_peptides.txt", header=None)
peaksdb_226a = pd.read_csv("processed/PeaksDB/226_MN_T00_GD_PDB/226_MN_T00_GD_PDB_stripped_peptides.txt", header=None)
peaksdb_226b = pd.read_csv("processed/PeaksDB/226_MN_T00_GD_PDB/226B_MN_T00_GD_PDB_stripped_peptides.txt", header=None)

frames = [peaks50_226a, peaks50_226b, peaksdb_226a, peaksdb_226b]
#index = [index]

# concatenate dataframes
tot_226 = pd.concat(frames)

# deduplicate
tot_226_nr = tot_226.drop_duplicates()

print('total 226 peptides, redundant', len(tot_226))
print('total 226 peptides, nonredundant', len(tot_226_nr))

tot_226.to_csv("processed/stripped_peptides/226_MN_T00_GD_stripped_peptides.txt", header=False, index=False)

tot_226.head()

total 226 peptides, redundant 411
total 226 peptides, nonredundant 310

               0
0  VLEGNEQFLNAAK
1     LSSPATLNSR
2     LSSPATLNSR
3     LSSPATLNSR
4     LSSPATLNSR

### 3. Macapa North, timepoint 24 hrs, size fraction 0.3-0.7 um (denoted as MN_T24_GF)
### T7 samples #s: 318A, 318B, 318 (318C)
### Exported NAAF and stripped peptides contained in the following directories:

    Trocas-incubations/processed/PeaksDB/318_MN_T24_GF_PDB
    Trocas-incubations/processed/PeaksDB/318_MN_T24_GF_DN

In [11]:
# for each of the 4 incubation samples:
# read in NAAF totals csvs made in PeaksDN (de novo), and PeaksDB (de novo assisted database search) notebooks
# bringing de novo peptides >50% ALC and PeaksDB peptides <1% FDR

peaks50_318a = pd.read_csv("processed/PeaksDN/318_MN_T24_GF_DN/318A_MN_T24_GF_DN50_stripped_peptides.txt", header=None)
peaks50_318b = pd.read_csv("processed/PeaksDN/318_MN_T24_GF_DN/318B_MN_T24_GF_DN50_stripped_peptides.txt", header=None)
peaks50_318c = pd.read_csv("processed/PeaksDN/318_MN_T24_GF_DN/318C_MN_T24_GF_DN50_stripped_peptides.txt", header=None)
peaksdb_318a = pd.read_csv("processed/PeaksDB/318_MN_T24_GF_PDB/318A_MN_T24_GF_PDB_stripped_peptides.txt", header=None)
peaksdb_318b = pd.read_csv("processed/PeaksDB/318_MN_T24_GF_PDB/318B_MN_T24_GF_PDB_stripped_peptides.txt", header=None)
peaksdb_318c = pd.read_csv("processed/PeaksDB/318_MN_T24_GF_PDB/318C_MN_T24_GF_PDB_stripped_peptides.txt", header=None)

frames = [peaks50_318a, peaks50_318b, peaks50_318c, peaksdb_318a, peaksdb_318b, peaksdb_318c]
#index = [index]

# concatenate dataframes
tot_318 = pd.concat(frames)

# deduplicate
tot_318_nr = tot_318.drop_duplicates()

print('total 318 peptides, redundant', len(tot_318))
print('total 318 peptides, nonredundant', len(tot_318_nr))

tot_318.to_csv("processed/stripped_peptides/318_MN_T24_GF_stripped_peptides.txt", header=False, index=False)

tot_318.head()

total 318 peptides, redundant 892
total 318 peptides, nonredundant 635

            0
0  LSSPATLNSR
1  LSSPATLNSR
2  LSSPATLNSR
3    LATVLSPR
4    LATVLSPR

### 4. Macapa North, timepoint 24 hrs, size fraction >0.7 um (denoted as MN_T24_GD)
### T7 samples #s: 417A, 417B
### Exported NAAF and stripped peptides contained in the following directories:

    Trocas-incubations/processed/PeaksDB/417_MN_T24_GD_PDB
    Trocas-incubations/processed/PeaksDB/417_MN_T24_GD_DN

In [12]:
# for each of the 4 incubation samples:
# read in NAAF totals csvs made in PeaksDN (de novo), and PeaksDB (de novo assisted database search) notebooks
# bringing de novo peptides >50% ALC and PeaksDB peptides <1% FDR

peaks50_417a = pd.read_csv("processed/PeaksDN/417_MN_T24_GD_DN/417A_MN_T24_GD_DN50_stripped_peptides.txt", header=None)
peaks50_417b = pd.read_csv("processed/PeaksDN/417_MN_T24_GD_DN/417B_MN_T24_GD_DN50_stripped_peptides.txt", header=None)
peaksdb_417a = pd.read_csv("processed/PeaksDB/417_MN_T24_GD_PDB/417A_MN_T24_GD_PDB_stripped_peptides.txt", header=None)
peaksdb_417b = pd.read_csv("processed/PeaksDB/417_MN_T24_GD_PDB/417B_MN_T24_GD_PDB_stripped_peptides.txt", header=None)


frames = [peaks50_417a, peaks50_417b, peaksdb_417a, peaksdb_417b, ]
#index = [index]

# concatenate dataframes
tot_417 = pd.concat(frames)

# deduplicate
tot_417_nr = tot_417.drop_duplicates()

print('total 417 peptides, redundant', len(tot_417))
print('total 417 peptides, nonredundant', len(tot_417_nr))

tot_417.to_csv("processed/stripped_peptides/417_MN_T24_GD_stripped_peptides.txt", header=False, index=False)

tot_417.head()

total 417 peptides, redundant 638
total 417 peptides, nonredundant 469

               0
0  VLEGNEQFLNAAK
1  VLEGNEQFLNAAK
2       SPATLNSR
3            SCK
4       SPATLNSR